<div class="container-fluid">

  <div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <h1>
        Wspr Dashboard
      </h1>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <search></search>
    </div>
  </div>
  <div class="row">
    <div class="ui-g-12 ui-md-6 ui-lg-3">

    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-4">
          <country></country>
        </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
          <distance></distance>
        </div>
      </div>
    </div>

