<h3> Reports by Country</h3>

<form>
    <label for="callsign">Callsign:</label>
    <input id="callsign" ng-model="countryCtrl.callsign">
    <label for="band">Band:</label>
    <input id="band" ng-model="countryCtrl.band">
    <button ng-click="countryCtrl.search()">Search</button>
</form>


<div id="country_chart"></div>

<table class="table table-striped table-hover">
    <thead>
    <th>Country</th>
    <th>Count</th>
    </thead>
    <tbody>
    <tr ng-repeat="(key,value) in countryCtrl.data">
        <td>{{key}}</td>
        <td>{{value}}</td>
    </tr>
    </tbody>
</table>